dash==2.14.1
dash-ag-grid==2.4.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-uploader==0.6.0
decorator==5.1.1
deprecation==2.1.0
duckdb==0.8.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.0
favicon==0.7.0
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
numerize==0.12
numpy
pandas
plotly
plotly-express
scikit-learn
scipy
seaborn
gunicorn
