streamlit
streamlit-chat
streamlit-elements
langchain
langchain_community==0.2.6
fastembed==0.3.2
langchain_core
langchain-milvus
langchain-openai
langchain-groq
openai
tiktoken
pymilvus
faiss-cpu
fastapi
uvicorn
pycryptodome
ragas
datasets
flashrank
PyGithub
lark
ipython
pymongo[srv]==3.11
