[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-experimental = "*"
langchain-openai = "*"
qrcode = "*"
black = "*"
python-dotenv = "*"
langchainhub = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
