beautifulsoup4
chromadb
cohere
datasets
deepeval
grouse-eval
langchain
langchain-community
langchain-openai
langchainhub
numpy
pytube
python-dotenv
ragas
ragatouille
requests
tiktoken
youtube-transcript-api