[project]
name = "mcp-paperswithcode"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "mcp[cli]>=1.4.1",
    "pypdf2>=3.0.1",
    "requests>=2.32.3",
]
