# .env

# This is the connection string for the main container Database URL
DATABASE_URL=postgresql://ziakhan:my_password@PostgresCont:5432/mydatabase

# This is the connection string for the test branch of Neon Database URL
TEST_DATABASE_URL=postgresql://ziakhan:my_password@PostgresCont:5432/mydatabase

# Kafka
KAFKA_BOOTSTRAP_SERVERS=broker:19092
KAFKA_TODO_TOPIC=todo
SCHEMA_REGISTRY_URL=http://host.docker.internal:8081

AUTH_SERVER_URL=http://host.docker.internal:9000