{% extends 'projects/base.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <h1>Projects</h1>
    <div class="row">
      {% for project in projects %}
          <div class="col-md-4">
              <div class="card bg-light mb-3">
                  <img class="card-img-top" src="{% static project.image %}" alt="{{ project.description }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ project.title }}</h5>
                      <p class="card-text">{{ project.description }}</p>
                      <p class="card-subtitle mb-2 text-muted">{{project.date_created}}</p>
                      <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                  </div>
              </div>
          </div>
      {% endfor %}
      </div>
  </div>
{% endblock %}