{%- extends "base.html" %} 

{% block content %}
    <h3>Course Form</h3>
    <div class="container">
        <form method="POST" action="{{ url_for('course', course_id=course.course_id) }}">
            <input type="text" name="course_id" value="{{ course.course_id }}" hidden /> 
            <label for="course_name"><b>Course Name</b></label>
            <input type="text" id="course_name" placeholder="Enter Course Name" name="course_name" value="{{ course.course_name}}" />
            <br><br>
            <label for="course_author"><b>Course Author</b></label>
            <input type="text" id="course_author" placeholder="Enter Course Author Name" name="course_author" value="{{ course.course_author}}" />
            <br><br>
            <label for="course_endpoint"><b>Course Endpoint</b></label>
            <input type="text" id="course_endpoint" placeholder="Enter Course Endpoint" name="course_endpoint" value="{{ course.course_name}}" required />
            <br><br>

            <button type="submit">Save</button>
        </form>
    </div>
{%- endblock %}