{%- extends "base.html" %}
{% block content %}
<h3>Courses Dashboard</h3>
<form action="{{ url_for('courses') }}" method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search by course title">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Course Author</th>
            <th>Course Endpoint</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td>
                    <a href="{{ url_for('course', course_id=course.course_id) }}">{{ course.course_id }}</a>
                </td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_author }}</td>
                <td>{{ course.course_endpoint }}</td>
                <td>
                    <form action="{{ url_for('course') }}" method="get">
                        <input type="hidden" name="course_id" value="{{ course.course_id }}">
                        <button type="submit" name="action" value="edit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endblock %}
