{%- extends "base.html" %}

{% block content %}
    <h3>Course Details</h3>
    <div class="container">
        <form method="GET" action="{{ url_for('course') }}">
            <input type="text" name="course_id" value="{{ course.course_id }}" hidden /> 
            <label><b>Course Name</b></label>
            {{ course.course_name }}
            <br><br>
            <label><b>Course Author</b></label>
            {{ course.course_author }}
            <br><br>
            <label><b>Course Endpoint</b></label>
            {{ course.course_endpoint }}
            <br><br>

            <button type="submit" name="action" value="edit">Edit</button>
            <button type="submit" name="action" value="delete">Delete</button>
        </form>
    </div>
{%- endblock %}