{%- extends "base.html" %}
{% block content %}
<h3>Users Dashboard</h3>
<form method="get" action="{{ url_for('users') }}" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="email" placeholder="Search by email">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('user', id=user.id) }}">{{ user.id }}</a></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form method="get" action="{{ url_for('user') }}">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button type="submit" name="action" value="edit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endblock %}
